*::-webkit-scrollbar {
  width: 8px;

  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1c151a;

  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #facc15;

  border-radius: 4px;
  border: 2px solid #1c151a;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #eab308;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #1c151a;
}
